body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffffff;
}

.container {
    text-align: center;
    background: #ffd0d0;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 200px;
}

.btn {
    height: 40px;
    width: 100px;
}

#yesBtn {
    background-color: #87a187;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#yesBtn:hover {
    background-color: #6b8e6b;
}

#noBtn {
    background-color: #e57373;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}